<ion-header>
  <ion-toolbar color="primary">
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-item>
      <ion-label position="floationg">Email</ion-label>
      <ion-input type="email" [(ngModel)]="email" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floationg">Password</ion-label>
      <ion-input type="password" [(ngModel)]="password" required></ion-input>
    </ion-item>
  </ion-list>

  <ion-button (click)="userLogin()" expand="block" color="light">Sign in</ion-button>
</ion-content>
