<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Account Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="account">
    <h3>Account balance: R {{ account.balance }}</h3>
    <h3 *ngIf="hasOverDraft">Overdraft balance: R {{ account.overdraft }} </h3>
    
    <ion-card>
      <ion-card-header>
        <ion-card-title>Deposit Cash</ion-card-title>
      </ion-card-header>
      <ion-card-content >
        <ion-item>
          <ion-label>R </ion-label>
          <ion-input type="number" placeholder="Amount" [(ngModel)]="depositAmount"></ion-input>
        </ion-item>
        
        <ion-item>
          <ion-label>Use overdraft</ion-label>
          <ion-toggle *ngIf="hasOverDraft" [(ngModel)]="depositOverDraft"></ion-toggle>
        </ion-item>

        <ion-button (click)="depositCash()">
          <ion-icon slot="start" name="add"></ion-icon>
          Deposit Cash
        </ion-button>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title>Withdraw Cash</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-item>
          <ion-label>R </ion-label>
          <ion-input type="number" placeholder="Amount" [(ngModel)]="withdrawalAmount"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label>Use overdraft</ion-label>
          <ion-toggle *ngIf="hasOverDraft" [(ngModel)]="withdrawFromOverDraft"></ion-toggle>
        </ion-item>

        <ion-button (click)="withdrawCash()">
          <ion-icon slot="start" name="remove"></ion-icon>
          Withdraw Cash
        </ion-button>
      </ion-card-content>
    </ion-card>
  </div>

  <div *ngIf="!account">
    <div class="ion-padding custom-skeleton">
      <ion-title>loading...</ion-title>
      <ion-skeleton-text animated ></ion-skeleton-text>
      <ion-skeleton-text animated ></ion-skeleton-text>
      <ion-skeleton-text animated ></ion-skeleton-text>
      <ion-skeleton-text animated ></ion-skeleton-text>
      <ion-skeleton-text animated ></ion-skeleton-text>
    </div>
  </div>

</ion-content>